[submodule "tempo-talent-recruiter"]
	path = tempo-talent-recruiter
	url = git@github.com:iusildra/tempo-talent-recruiter.git
[submodule "tempo-talent-gateway"]
	path = tempo-talent-gateway
	url = git@github.com:iusildra/tempo-talent-gateway.git
